# Не забудьте скопіювати цей файл під ім'ям .env

BOT_TOKEN = 0000000000:AaBbCcDdEeFfGgHhIiJjKkLlMmNn

# Група, в якій буде працювати наш бот.
# Передбачається, що в межах цього розділу
# бот призначений для однієї групи
MAIN_CHAT_ID = -1001234567890
